.projeto{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projeto-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.projeto .projeto-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}


.img-projeto{
    width: 420px;
}



@media (max-width: 450px){
    .projeto-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .projeto-top .img-projeto{
        padding-top: 50px;
        width: 280px;
    }
}
.container{
    width: 1172px;
    height: 838px;
    margin: 57px 82px;
    display: flex;
    align-items: center;
}
.left{
    width: 585px;
    height: 838px;
    align-items: center;
}
.left h1{
    width: 543px;
    height: 43px;
    margin: 166px 20px 63px 73px;
    color: var(--color-pagina-textoazulclaro);
}
.info{
    width: 334px;
    height: 88px;
    margin: 0 228px 249px 74px;
}

.info-item{
    display: flex;
}
.info-item img{
    margin-right: 19px;
    margin-bottom: 8px;
}
.info-item p{
    font-weight: bold;
    color: var(--color-pagina-textoazul);
}
.ln{
    width: 1px;
    height: 70%;
    border: 1px solid #2BB3EB;
}
.social{
    width: 315px;
    height: 30;
    margin: 0 237px 0 84px;
    display: flex;
    justify-content: space-between;
}
.right{
    width: 585px;
    height: 838px;
}
.get{
    align-items: center;
    margin: 149px 61px 28px 42px;
}
.get p{
    color: var(--color-pagina-texto);
}
.get-input{
    width: 533px;
    height: 83px;
    
}
.get-input input{
    width: 533px;
    height: 51px;
    margin-bottom: 43px;
    border: none;
}
.buttons{
    width: 529px;
    height: 254px;
    margin-left: 46px;
    margin-right: 61px;
    align-items: center;
}
.buttons button{
    width: 529px;
    height: 66px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
}
.btn-login button{
    margin-bottom: 22px;
    background-color: var(--color-pagina-textoazulclaro);
}
.btn-gg button{
    margin-bottom: 22px;
    background-color: #E33D3D;
}
.btn-fb button{
    background-color: #2B4CB8;
}

