.discentes{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.discentes-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.discentes .discentes-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}

.img-discentes{
    width: 500px;
    padding: 15px;
}
.discentes-container{
    width: 100%;
    height: 100%;
    padding: 30px 120px;
    flex-direction: column;
    align-items: center;
}
.discentes-container h3{
    color: var(--color-h3);
}
.discentes-container p{
    font-size: 16px;
    color: var(--color-descriptoins);
}
.discentes-link{
    text-decoration: none;
    color: var(--color-h3);
}
.discentes-perfil{
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    flex-direction: column;
    align-items: center;
}
.discentes-infoTop{
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}
.discentes-infoTop img{
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-radius: 360px;
}
.discentes-descricao{
    padding: 0 50px;    
}
.discentes-descricao h3{
    margin-top: 30px;
    margin-bottom: 15px;
}
.discentes-descricao p{
    margin-bottom: 5px;
}
.discentes-sobre{
    max-height: 200px;
    overflow-y: auto;
}
.discentes-areas div{
    max-height: 150px;
    overflow-y: auto;
}
.discentes-btn button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-left:75%;
    color: var(--color-botao-texto);
    background-color: var(--color-pagina-botao);
}
@media (max-width: 400px){
    .discentes-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .discentes-top .img-discentes{
        padding-top: 50px;
        width: 280px;
    }
    .discentes-container{
        padding: 0px;
    }
    .discentes-infoTop{
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .discentes-descricao{
        padding: 30px 0;
    }
    .discentes-sobre{
        max-height: 200px;
        overflow-y: scroll;
    }
    .discentes-areas div{
        max-height: 150px;
        overflow-y: scroll;
    }
    .discentes-btn button{
        margin-left: 12%;
    }
}
@media (min-width:401px) and (max-width: 900px){
    .discentes-top{
        padding: 20px 20px;
    }
    .discentes-container{
        padding: 30px 40px;
    }
    .discentes-top .img-discentes{
        padding-top: 20px;
        width: 280px;
    }
    .discentes-sobre{
        max-height: 200px;
        overflow-y: scroll;
    }
    .discentes-areas div{
        max-height: 150px;
        overflow-y: scroll;
    }
    .discentes-btn button{
        margin-left: 70%;
    }
}