*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.geral{
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.discente-card{
    box-shadow: 2px 2px 13px rgb(187, 187, 187),
                -2px -2px 12px rgb(241, 241, 241);
    border-radius: 10px;
    margin: 50px 50px;
    padding: 50px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#image{
    width: 120px;
    height: 120px;
    box-shadow: 5px 5px 0px black;
}
.nome_sobrenome_curso{
    margin: 20px;
}

#nome_completo{
    font-size: 25px;
    font-weight: bold;
    color: #0C3197;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    margin-bottom: 15px;
}

#curso{
    font-size: 18px;
    font-style: italic;
    color: #3b3b3b;
    letter-spacing: 0.5px;
    text-decoration: underline;
}

.biografia{
    width: 100%;
    box-sizing: border-box;
}

#bio{
    font-size: 17px;
    color: #555555;
    text-align: justify;
}

#interesse{
    font-size: 23px;
    font-weight: bold;
    color: #0C3197;
    text-rendering: optimizeLegibility;
    margin-bottom: 15px;
}

.area_interesse ul{
    list-style: none;
}

.area_interesse ul li{
    font-size: 15px;
    color: #555555;
    margin-bottom: 3px;
}

.pesquisador{
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
}

#btn-pesq{
    width: 185px;
    height: 53px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background:#0C3197;
    float: right;
    right: 0;
    cursor: pointer;
    transition: 0.1s;
}

#btn-pesq:hover{
    background: #fff;
    border: 2px solid #0C3197;
}

#btn-pesq:hover #btn_link{
    color:  #0C3197;
    font-weight: bold;
}

#btn_link{
    color: #fff;
    text-decoration: none;
}

/*RESPONSIVIDADE 360px*/
@media (max-width: 360px){
    .discente-card{
        margin: 0px 2px;
        padding: 20px;
        height: 100%;
    }

    .top{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .nome_sobrenome_curso{
        margin: 0px;
        margin-top: 25px;
    }

    #bio{
        font-size: 19px;
    }

    .area_interesse ul li{
        font-size: 19px;
    }

    .pesquisador{
        margin-top: 10px;
        justify-content: center;
    }

    #btn-pesq{
        width: 100%;
    }
}