.publicacoes{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.publicacoes-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.publicacoes .publicacoes-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}


.img-publicacoes{
    width: 477px;
    padding-bottom: 22px;
}

.box{
    margin: 20px 292px 15px 199px;
    align-items: center;
    height: 163px;
    width: 980px;
}
.data{
    color: var(--color-navibar) ;
}

.poster{
    font-size: 16px;
    color:#828282;
}
@media (max-width: 450px){
    .publicacoes-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .publicacoes-top .img-publicacoes{
        padding-top: 50px;
        width: 280px;
    }
}