.publicacoes{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.publicacoes-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.publicacoes .publicacoes-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}


.img-publicacoes{
    width: 477px;
    padding-bottom: 22px;
}
.publicacoes-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 150px;
}
.box{
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.data{
    margin-bottom: 10px;
    color: var(--color-navibar) ;
}

.poster{
    font-size: 16px;
    color:#828282;
}
@media (max-width: 400px){
    .publicacoes-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .publicacoes-top .img-publicacoes{
        padding-top: 50px;
        width: 280px;
    }
    .publicacoes-container{
        padding: 40px 30px;
    }
}
@media (min-width:401px) and (max-width: 900px){
    .publicacoes-container{
        padding: 40px 80px;
    }
}