*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-top{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--color-container);
    padding: 20px 50px;
}

.about .about-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}

.about .about-text span{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    background: linear-gradient(to right, #40E0D0, #FF8C00, #FF0080);
    background-clip: text;
    color: transparent;
}


.about-middle{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-middle .aboutOne{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    flex-wrap: wrap;
}

.about-middle .aboutOne .aboutOne-item{
    padding-bottom: 60px;
}

.about-middle .aboutOne .aboutOne-item h2{
    color: var(--color-pagina-textoazulclaro);
}

.about-middle .aboutOne .aboutOne-item p{
    color: var(--color-pagina-texto);
    text-align: justify;
}

.two h2{
    text-align: right;
}

.about-history{
    position: relative;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.history-lis{
    transition: 0.2s;
    padding: 40px;
    background: #F0F0F7;
    box-sizing: border-box;
    min-width: 270px;
    width: 580px;
    height: 100%;
    border-radius: 13px;
}

.history-lis h2{
    color: var(--color-pagina-textoazulclaro);
}

.history-lis p{
    color: var(--color-cards-textos);
    text-align: justify;
}

.history-lis .acess{
    opacity: 0;
    float: right;
    background: #2B4CB8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 30px;
    color: #ffffff;
}

.history-lis:hover{
    background: #2B4CB8;
}
.history-lis:hover h2{
    color: #fff;
}
.history-lis:hover p{
    color: #fff;
}
.history-lis:hover .acess{
   opacity: 1;
    background: #fff;
    color: #2B4CB8;
}




.about-values{
    display: flex;
    padding: 100px 100px;
    justify-content: space-around;
    flex-direction: row;
}
.values-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 270px;
    width: 100%;
    padding: 10px 20px;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    transition: 0.2s;
}
.value-img{
    width: 80px;
}
.values-column h4{
    color: #2CB4EC;
}
.values-column p{
    color: var(--color-cards-textos);
    text-align: justify;
}
.values-column:hover{
    background: #F0F0F7;
}









@media (max-width: 450px){
    .about-top{
        padding: 20px 20px;
    }
    .about-top .img-about{
        padding-top: 50px;
        width: 280px;
    }
    .about-middle .aboutOne{
        padding: 20px 30px;
    }
    .about-history{
        padding: 15px;
    }
    .history-lis{
        padding: 15px;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }
    .history-lis .acess{
        opacity: 1;
    }
    .about-values{
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }
    .values-column{
        padding: 30px 20px;
    }
  
}