.contato{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.contato-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}
.contato .contato-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}
.img-contato{
    width: 550px;
    padding: 14px;
}
.contato-page{
    background: #F0F0F7;
}
.contato-container{
    border-radius: 8pt;
    box-shadow: 0px 7px 4px rgba(0,0,0,0.2);
    margin: 30px 40px;
    background: #fff;
    display: flex;
    flex-direction: row;
    font: roboto;
    padding: 30px 40px;
}
.contato-left{
    width: 50%;
    color: var(--color-pagina-textoazulclaro);
    padding: 30px 50px;
    flex-direction: column;
}
.contato-container p{
    color: var(--color-pagina-texto);
}
.contato-infoTop p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14pt;
    text-align: justify;
}
.contato-lis p{
    text-align: justify;
    font-size: 10pt;
    padding: 30px 50% 30px 0;
}
.sociale{
    width: 315px;
    height: 30;
    margin: 0 237px 0 84px;
    display: flex;
    justify-content: space-between;
}
.contatos{
    margin: 0 0px 50px 0px;
    flex-direction: column;
}
.contatos-item{
    display: flex;
    align-items: center;
}
.contatos-item img{
    max-height: 30px;
    
}
.contatos-item div{
    margin-right: 19px;
    margin-bottom: 8px;
}
.contatos-item p{
    font-weight: bold;
    color: var(--color-pagina-textoazul);
}
.contato-line{
    width: 1px;
}
.lmid{
    margin-top: 40px;
    width: 1px;
    height: 75%;
    border: 1px solid #2BB3EB;
}
.contato-right{
    width: 50%;
    padding: 40px 50px;
}
.contato-msg{
    color: var(--color-pagina-texto);
    margin-bottom: 50px;
}
.get-contatos{
    padding-bottom: 30px;
}
.get-contatos input{
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    padding: auto;
    font-size: 20px;
    color: #424242;
    background-color: #E6E6F0;
}
.get-contatos textarea{
    font-size: 18px;
    color: #424242;
    font: roboto;
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    border-radius: 8x;
    border: 1px solid #E6E6F0;
    background-color: #E6E6F0;
}
.btn-e{
    width: 120px;
    height: 46px;
    border-radius: 8px;
    float: right;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    color: var(--color-botao-texto);
    background-color: var(--color-pagina-botao);
}

@media (max-width: 400px){
    .contato-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .contato-top .img-contato{
        padding-top: 50px;
        width: 280px;
    }
    .contato-container{
        margin: 30px 10px;
        padding: 10px;
        flex-direction: column;
    }
    .contato-left{
        width: 100%;
        padding: 10px;
    }
    .contato-title{
        text-align: center;
        font-size: 22px;
    }
    .contato-lis{
        text-align: center;
        margin-bottom: 20px;
    }
    .contato-lis p{
        padding: 10px 20px;
    }
    
    .contatos{
        margin-bottom: 30px;
    }
    .contatos-item{
        margin-bottom: 10px;
    }
    .sociale{
        width: 100%;
        margin: 0;
        padding: 0 40px;
    }
    .contato-line{
        width: 100%;
    }
    .lmid{
        margin-top: 20px;
        margin-left: 30px;
        width: 80%;
        height: 1px;
    }
    .contato-right{
        width: 100%;
        padding: 30px 20px;
    }
    .get-contatos input{
        height: 50px;
    }
}

@media (min-width:401px) and (max-width:900px){
    .contato-container{
        margin: 30px 10px;
        padding: 10px;
    }
    .contato-container h2{
        font-size: 22px;
    }
    .contato-container p{
        font-size: 16px;
    }
    .contato-left{
        padding: 10px;
    }
    .contato-left h1{
        font-size: 24px;
    }
    .contato-lis p{
        padding: 30px 10% 30px 0;
    }
    .contatos{
        margin-bottom: 20px;
    }
    .sociale{    
        margin: 0;
        padding: 0 40px;
    }
    .contato-right{
        width: 100%;
        padding: 10px 20px;
    }
    .get-contatos input{
        height: 50px;
    }
    .get-contatos textarea{
        min-width: 350px;
        max-width: 350px;
    }
}