.portfolio{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.portfolio-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.portfolio .portfolio-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}

.img-portfolio{
    width: 500px;
    padding: 15px;
}
.line-topo{
    width: 100%;
    margin-top: 20px;
    padding: 0 7%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.line-topo hr{
    width: 60%;
    height: 1px;
}
.line-topo input{
    width:37%;
    background-color: #fff;
    border: 1px solid var(--color-pagina-botao);
}
.boxL{
    width: 92%;
    height: 483px;
    display: flex;
    margin: 97px 3% 50px 4%;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
}
.boxL img{
    height: 483px;
    width: 820px;
    border-radius: 8px;
}
.item{
    align-items: center;
    display: inline;
}
.boxtop{
    height: 37px;
    width:373px ;
    margin: 20px 33px 0 41px;
    display: flex;
    align-items: center;
}
.h4{
    color: var(--color-navibar);
    max-width: 235px;
}

.epoch{
    margin-left: auto;
    font-size: 10px;
    color: #828282;
}
.grid-epoch{
    margin-left: 36px ;
    font-size: 10px;
    color: #828282;
}
.post{
    font-size: 15px;
    color: var(--color-cards-textos);
}
.conteudo{
    width: 355px;
    height: 236px;
    margin: 84px 51px 30px 41px;
}

.button{
    font-size: 14px;
    width: 133px;
    height: 42px;
    background-color: var(--color-pagina-botao);
    color: var(--color-botao-texto);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 60%;
}
.button-grid{
    font-size: 14px;
    width: 135px;
    height: 38px;
    background-color: var(--color-pagina-botao);
    color: var(--color-botao-texto);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin: 0 165px 33px 37px
}
.line-center{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    margin: 20px 0;
}
.line-center hr{
    width: 85%;
}
.line-center p{
    margin-left: 10px;
    color:var(--color-pagina-textoazul);
}
.grid-container{
    width: 100%;
    height: 100%;
    margin: 0 0 20px 0;
    padding: 0 5%;
}
.grid{
    width: 580px;
    height: 100%;
    display: grid;
    grid-column-gap: 100px;
    grid-row-gap: 56px;
    grid-template-columns: auto auto;
}
.grid-item{
    box-shadow: 0px 7px 4px rgba(0,0,0,0.2);

}
.grid img{
    width: 100%;
    height: 208px;
}
.grid-h4{
    width: 258px;
    height: 39px;
    margin: 19px 280px 0 41px;
}
.grid-post{
    width: 498px;
    height: 158px;
    margin: 18px 41px 0 41px;
    text-align: left;
}
.grid-bottom{
    align-items: centers;
    display: flex;
}
.btn-navigation{
    width: 371px;
    margin: 0 984px 51px 85px;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
}
.btn-page{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-width:1px;
}
.btn-page:hover{
    border-width: 2px;
    border-style: solid;
    border-color: #2F80ED;
}
.btn-selected{
    background-color: var(--color-botaodepagina-selecionado);
}
@media (max-width: 450px){
    .portfolio-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .portfolio-top .img-portfolio{
        padding-top: 50px;
        width: 280px;
    }
}

@media (max-width:400px){
    .boxL{
        width: 100%;
        height: 100%;
        margin: 0;
        flex-direction: column;
        padding: 0 10px;
    }
    .line-topo hr{
        width: 100px;
    }
    .line-topo input{
        width: 200px;
        height: 40px;
    }
    .boxL img{
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }
    .item{
        width: 100%;
        height: 100%;
    }
    .boxtop{
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }
    .conteudo{
        width: 100%;
        max-height: 240px;
        margin: 10px 0;
        overflow-y: scroll;
    }
    .boxL button{
        width: 100px;
        height: 30px;
        margin-left: 230px;
        margin-bottom: 20px;
    }
    .line-center hr{
        width: 60%;
    }
    .line-center p{
        font-size: 12px;
    }
    .grid-container{
        padding: 0;
    }
    .grid{
        width: 100%;
        height: 100%;
        margin: 0 0 20px 0;
        padding: 0 10px;
    }
    .grid-item{
        width: 340px;
        height: 100%;
        align-items: center;
    }
    .grid-item img{
        width: 100%;
    }
    .grid-h4{
        margin-top: 0;
    }
    .grid-post{
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0 20px;
        max-height: 120px;
        overflow-y: scroll;
    }
    .button-grid{
        width: 120px;
        height: 30px;
        margin: 0 0 0 20px;
    }
    .btn-navigation{
        width: 100%;
        padding: 0 15%;
        margin: 0 0 20px 0;
    }
    .btn-page{
        width: 40px;
        height: 40px;
    }
}
@media (min-width:401px) and (max-width:900px){
    .boxL{
        width: 95%;
        height: 100%;
        margin: 30px 0 0 2%;
        padding: 0 10px;
    }
    .boxL img{
        width: 100%;
        height: 200px;
        margin-top: 20px;
        padding: 0 20px;
    }
    .item{
        width: 340px;
        height: 100%;
        padding: 0 10px;
    }
    .boxtop{
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }
    .conteudo{
        width: 100%;
        max-height: 240px;
        margin: 10px 0;
        overflow-y: scroll;
    }
    .boxL button{
        width: 100px;
        height: 30px;
        margin-left: 230px;
        margin-bottom: 20px;
    }
    .line-center hr{
        width: 75%;
    }
    .grid-container{
        padding: 0;
    }
    .grid{
        width: 100%;
        height: 100%;
        margin: 0 0 20px 0;
        padding: 0 10px;
        grid-column-gap: 40px;
        grid-row-gap: 46px;
    }
    .grid-item{
        width: 340px;
        height: 100%;
        align-items: center;
    }
    .grid-item img{
        width: 100%;
    }
    .grid-h4{
        margin-top: 0;
    }
    .grid-post{
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0 20px;
        max-height: 120px;
        overflow-y: scroll;
    }
    .button-grid{
        width: 120px;
        height: 30px;
        margin: 0 0 0 20px;
    }
    .btn-navigation{
        width: 280px;
        margin: 10px 0 30px 5%;
        
    }
    .btn-page{
        width: 40px;
        height: 40px;
    }
}