*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    min-width: 280px;
    bottom: 0;
    background-color: #3f3f3f;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer .footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-column{
    margin-top: 50px;
    max-width: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    
}

.footer-column .footer-column-title{
    color: var(--color-rodape-texto);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.footer-column .footer-column-text{
    height: 20px;
    font-size: 15px;
    color: var(--color-rodape-texto);
    text-align: left;
    align-items: center;
}

.footer-column .footer-info-img{
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-column .footer-info-img img{
    width: 24px;
    margin-bottom: 5px;
    image-rendering: optimizeQuality;
}
.footer-column .footer-info-img p{
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--color-cotainer-texto);
}
.footer-info-text{
    color: var(--color-rodape-texto);
    font-size: 14px;
    text-decoration: none;
}
.footer-social{
    width: 595px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer-social .footer-info-img {
    display: flex;
    align-items: center;
}

.footer hr{
    width: 80%;
    margin: 20px;
}

.footer-bottom p{
    color: var(--color-rodape-texto);
    font-size: 15px;
}

@media (max-width: 630px){
    .footer{
        align-items: center;
    }
    .footer-column .footer-column-text{
        margin-left: 0;
        text-align: left;
    }
    .footer-top{
        align-items: center;
        flex-direction: column;
    }
    .footer-column-title{
        margin-left: 0;
        text-align: center;
    }
    .footer-top .footer-column{
        align-items: center;
        text-align: center;
        max-width: 100%;
    }
    .footer-social{
        flex-direction: column;
        max-width: 200px;
    }
    .footer-social .footer-info-img{
        margin-bottom: 20px;
    }
}
@media (max-width: 840px){
    .footer{
        padding: 20px;
    }
    .footer-top{
        display: flex;
    }
    .footer-column{
        min-width: 100px;
    }
}
