.parceiros{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.parceiros-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.parceiros .parceiros-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}

.parceiros .parceiros-text span{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    background: linear-gradient(to right, #40E0D0, #FF8C00, #FF0080);
    background-clip: text;
    color: transparent;
}

.img-parceiros{
    width: 400px;
}

.parceiros-middle{
    background: #F0F0F7;
    width: 100%;
    min-width: 280px;
    height: 100%;
    padding: 50px;
}

.parceiros-middle-content{
    background: #fff;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.parceiros-content-item{
    width: 400px;
    min-width: 270px;
    height: 300px;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.parceiros-content-item p{
    font-size: 19px;
    color: var(--color-descriptions);
}
.parceiros-img-item{
    max-width: 374px;
    max-height: 120px;
}

@media (max-width: 400px){
    .parceiros-img-item{
        max-width: 270px
    }
}















@media (max-width: 450px){
    .parceiros-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .parceiros-top .img-parceiros{
        padding-top: 50px;
        width: 280px;
    }
    .parceiros-middle{
        padding: 15px;
    }
}