.pesquisadores{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pesquisadores-top{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-container);
    padding: 20px 50px;
}

.pesquisadores .pesquisadores-text {
    text-rendering: optimizeLegibility;
    color: var(--color-container-textosec);
}


.img-pesquisadores{
    width: 400px;
    padding-bottom: 22px;
}

.pesquisadores-center{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px;
}

.pesquisadores-docentes, .pesquisadores-discentes{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    height: 100%;
    min-width: 270px;
    width: 100%;
    margin: 10px 20px;
}









@media (max-width: 450px){
    .pesquisadores-top{
        flex-direction: column;
        padding: 20px 20px;
    }
    .pesquisadores-top .img-pesquisadores{
        padding-top: 50px;
        width: 280px;
    }
}